.lead {
    display: grid;
    margin: 0 auto;
    max-width: calc(100% - 96px);
}

@media (min-width: 1280px) {
    .lead {
        max-width: calc(100% - 296px);
    }
}

@media (max-width: 768px) {
    .lead {
        max-width: 100%;
    }
}