.footer__link {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    opacity: 0.8;
    transition: opacity .3s ease-in-out;
}

.footer__link:hover {
    opacity: 0.3;
    transition: opacity .3s ease-in-out;
}