.cover {
    max-width: 100%;
    padding-top: 90px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

@media (min-width: 1280px) {
    .cover {
        max-width: calc(100% - 96px);
    }
}

@media (max-width: 425px) {
    .cover {
        padding-top: 66px;
    }
}

