.cover {
    max-width: 100%;
    padding-top: 90px;
    margin: auto;
    display: grid;
}

@media (min-width: 1280px) {
    .cover {
        padding-top: 66px;
        max-width: calc(100% - 96px);

    }

}

