.cover__overlay {
    position: relative;
    text-decoration: none;
    color: #FFFFFF;
    background-image: url("../../../images/cover-trains.jpg");
    background-size: cover;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    opacity: 0.8;
    transition: opacity .3s ease-in-out;
    height: 740px;
    grid-column: 1/1;
    grid-row: 1/1;
}

.cover__overlay:hover {
    opacity: 0.3;
    transition: opacity .3s ease-in-out;
}

@media (max-width: 1024px) {
    .cover__overlay {
        height: 640px;
    }
}

@media (max-width: 768px) {
    .cover__overlay {
        height: 480px;
    }
}

@media (max-width: 320px) {
    .cover__overlay {
        height: 200px;
    }
}
