.place {
    display: grid;
    margin: 0;
    padding: 50px 0 0;
    grid-template-columns: 1fr;
    grid-template-areas:
    "title"
    "website"
    "image"
    "text";
    gap: 32px 0;
}


@media (min-width: 768px) {
    .place {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
    "title website"
    "image text";
        gap: 48px 28px;
        padding-top: 70px;
    }
}

@media (min-width: 1024px) {
    .place {
        gap: 48px 32px;
        padding-top: 80px;
    }

}

