.place__website {
    grid-area: website;
    align-self: end;
    margin: 0;
}

@media (max-width: 425px) {
    .place__website {
        padding-left: 16px;
        max-width: calc(100% - 32px);
    }
}